@import '../general_styling.scss';

.FormulaContainer {
    display: flex;
    justify-content: space-between;
    // padding: 3%;

    .FormulaTable {
        width: 58%;
        // margin: 0 2%;
        .MTableHeader-header-149{
            z-index: 0;
        }

    }
    .Balance {
        width: 40%;
        .MuiTypography-body1 {
            width: 100%
        }
    }
    .BalanceCard {
        margin: 1%;
        p {
            color: #A3ABD7;
        }
        p:first-child {
            color: #7585d8;
          }    
        }
    .IngredientesContainer {
        display: flex;
        flex-flow: column;

        .InputIngredientes {
            margin-bottom: 5px;
            display: flex;
        }
    }
}

.AddIngrediente {
    display: flex;
}

