.FormulaContainer {
    display: flex;
    justify-content: center;
    padding: 3%;

    .FormulaTable {
        width: 60%;
        margin: 0 2%;
        box-shadow: 0 1px 6px rgba(147, 141, 158, 0.16), 0 2px 6px rgba(52, 53, 62, 0.28);

    }
    .Balance {
        width: 30%;
        .MuiTypography-body1 {
            width: 100%
        }
    }
    .BalanceCard {
        margin: 1%;
        p {
            color: #A3ABD7;
        }
        p:first-child {
            color: #7585d8;
          }    
        }
    .IngredientesContainer {
        display: flex;
        flex-flow: column;

        .InputIngredientes {
            margin-bottom: 5px;
            display: flex;
        }
    }
}

.AddIngrediente {
    display: flex;
}